
{% extends 'Buyer_base.html' %}

{% block content %}
{% load cart %}


    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="/buyer/category_products/">
                            All product
                        </a>
                        {% for category in categories %}
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="/buyer/category_products/?category={{ category.id }}">
                            {{ category }}
                        </a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{ product.image.url }}" alt="Card image cap">
                                
                            </div>
                            <div class="card-body">
                                <a href="/buyer/single_products/?product={{ product.id }}" class="h3 text-decoration-none">{{ product.name }}</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <!-- <li>M/L/X/XL</li> -->
                                    <!-- <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li> -->
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">{{ product.price }} Baht</p>


                                
                                <div class="card-footer p-0 no-gutters">

                                    {% if product|is_in_cart:request.session.cart %}
                                    <div class="row no-gutters">
                                        <form action="/buyer/#{{product.id}}" class="col-2 " method="post">
                                            {% csrf_token %}
                                            <input hidden type="text" name='product' value='{{product.id}}'>
                                            <input hidden type="text" name='remove' value='True'>
                                            <input type="submit" value=" - " class="btn btn-block btn-success border-right">
                                        </form>
                                        <div class="text-center col btn btn-success">{{product|cart_quantity:request.session.cart}} in Cart</div>
                                        <form action="/buyer/#{{product.id}}" class="col-2 " method="post">
                                            {% csrf_token %}
                                            <input hidden type="text" name='product' value='{{product.id}}'>
                                            <input type="submit" value=" + " class="btn btn-block btn-success border-left">
                                        </form>
                                    </div>
                                    {% else %}
                                    <form action="/buyer/#{{product.id}}" method="POST" class="btn-block">
                                        {% csrf_token %}
                                        <input hidden type="text" name='product' value='{{product.id}}'>
                                        <input type="submit" class="float-right btn btn-success form-control"
                                            value="Add To Cart">
                                    </form>
                                    {% endif %}
            
                                </div>

                            </div>

                            

                        </div>
                    </div>
                    {% endfor %}
            </div>

        </div>
    </div>
    <!-- End Content -->    

{% endblock %}