
{% extends 'Buyer_base.html' %}

{% block content %}
{% load cart %}


    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-success text-decoration-none" href="/buyer/category_products/">
                            All product
                        </a>
                        {% for category in categories %}
                        <a class="collapsed d-flex justify-content-between h3 text-success text-decoration-none" href="/buyer/category_products/?category={{ category.id }}">
                            {{ category }}
                        </a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{ product.image.url }}" alt="Card image cap">
                                
                            </div>
                            <div class="card-body">
                                <a href="/buyer/single_products/?product={{ product.id }}" class="h3 text-success text-decoration-none">{{ product.name }}</a>

                                
                                <p class="card-text">{{ product.price }} Baht</p>

                                
                                <div class="card-footer p-0 no-gutters">
                                    {% if product.current_available_amount <= 0 %}
                                    <h4 class="btn btn-block btn-warning" > Out of stock </h4>
                                    {% else %}
                                        {% if product|is_in_cart:request.session.cart %}

                                    <div class="row no-gutters">
                                        <form action="/buyer/#{{product.id}}" class="col-2 " method="post">
                                            {% csrf_token %}
                                            <input hidden type="text" name='product' value='{{product.id}}'>
                                            <input hidden type="text" name='remove' value='True'>
                                            <input type="submit" value=" - " class="btn btn-block btn-success border-right">
                                        </form>
                                        <div class="text-center col btn btn-success">{{product|cart_quantity:request.session.cart}} in Cart</div>
                                        <form action="/buyer/#{{product.id}}" class="col-2 " method="post">
                                            {% csrf_token %}
                                            <input hidden type="text" name='product' value='{{product.id}}'>
                                            <input type="submit" value=" + " class="btn btn-block btn-success border-left">
                                        </form>
                                    </div>
                                    {% else %}
                                    <form action="/buyer/#{{product.id}}" method="POST" class="btn-block">
                                        {% csrf_token %}
                                        <input hidden type="text" name='product' value='{{product.id}}'>
                                        <input type="submit" class="float-right btn btn-success form-control"
                                            value="Add To Cart">
                                    </form>
                                    {% endif %}
                                    {% endif %}
                                </div>

                            </div>

                            

                        </div>
                    </div>
                    {% endfor %}
            </div>

        </div>
    </div>
    <!-- End Content -->    

{% endblock %}