<h1>Login</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="login-btn">Login</button>
    <a href="{% url 'Core:register' %}" class="register-btn">Register</a>
</form>

<style>
    .register-btn, .login-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 10px;
    }

    .register-btn:hover, .login-btn {
        background-color: #0069d9;
    }
</style>
